<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="zpmhub.ZPM">
    <Module>
      <Name>zpmhub</Name>
      <Description>ZpmHub.com client. Managed hosting for your private and public ZPM modules by Banksia Global.</Description>
      <Version>0.3.6</Version>
      <Author>
        <Organization>Banksia Global</Organization>
        <CopyrightDate>2021</CopyrightDate>
        <License>MIT</License>
      </Author>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ZPMHUB.PKG"/>
      <Default Name="token" Value="null" />
      <Invoke Class="ZPMHUB.Setup" Method="Setup" CheckStatus="true">
        <Arg>${token}</Arg>
        <Arg>${verbose}</Arg>
      </Invoke>
    </Module>
  </Document>
</Export>
